/*Add styling below*/
html, body {
  margin:0;
  padding:0;
}

body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
}
.nav-wrapper {
  text-align: center;
  padding: 10px 0;
  background-color: salmon;
  font-size: 28px;
  margin-bottom: 100px;
  color: white;
}

.nav-wrapper a {
  color: inherit;
  text-decoration: none;
}

form,
.table-container {
  width: 60%;
  margin: 0 auto 50px;
}

form input {
  width: 100%;
  display: block;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 35px;
}

form button {
  background-color: salmon;
  color: white;
  padding: 10px;
  display: block;
  border-style: initial;
  font-size: 18px;
}

table,
table tr {
  width: 100%
}

table tr th {
  width: 50%;
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 16px;
  color: salmon;
  padding-bottom: 10px;
}

table tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
